
@font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-v30-latin-regular.woff2') format('woff2');

}

@font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/roboto-v30-latin-700.woff2') format('woff2');
   
}

@font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/roboto-v30-latin-900.woff2') format('woff2');
   
}

:root {
    --color-dark-blue: #011C44 ;
    --color-primary-blue: #2B7FFF ;
    --color-primary-light: #FFFFFF ;
    --color-primary-dark:  #09061C;
    
}

/* Body */
body {
    font-style: var(--color-primary-dark);
    font-family: 'Roboto', 'Regular';
    font-size: 18px;
    font-weight: 400;
    line-height: 1.2;

}
ul {
    list-style-type: none;
}
.fotter-section {
    background-color: var(--color-dark-blue);
}
/* logo */
.logo {
    font-weight: 700;
    font-size: 22px;
}
 
/* header-link */
.header-link {
    font-weight: 700;
    font-size: 18px;
    text-decoration: none;
   
}
  /* hero-title  */
.hero-title {
    font-size: 140px;
    color: var(--color-primary-blue);
    font-weight: 700;
    line-height: 114px;
text-align: center;
}
.second-title{
    font-weight: 700;
    font-size: 64px;
    color: var(--color-dark-blue) ;
    font-family: 'Play', 'Regular';
text-align: center;
}
.second-title .accent {
    color: var(--color-primary-blue);
}
.third-title {
    font-weight: 700;
    font-size: 64px;
    color: var(--color-dark-blue);
    font-family: 'Play', 'Regular';
text-align: center;

}
.third-title .accent {
    color: var(--color-primary-blue);
}
.fourth-title {
font-weight: 700;
    font-size: 64px;
    color: var(--color-dark-blue);
    font-family: 'Play', 'Regular';
text-align: center;
}
.fourth-title .accent {
    color: var(--color-primary-blue);
}
.fifth-title {
    font-weight: 700;
    font-size: 64px;
    color: var(--color-dark-blue);
    font-family: 'Play', 'Regular';
    text-align: center;
}

.fifth-title .accent {
    color: var(--color-primary-blue);
}
/* button */
.button {
    color: var(--color-primary-light);
        border-radius: 32px;
        background: var(--color-primary-blue);
        font-weight: 600;
}
.add {
    font-size: 12px;
    line-height: 18px;
   
    
}
/* main-text */
.forus-text {
    line-height: 38px;
    font-size: 22px;
    color: var(--color-dark-blue);
}
.forus-text .accent {
    color: var(--color-primary-blue);
}
/* fotter*/
.fotter-text {
    font-size: 16px;
    text-decoration: none;
    color: var(--color-primary-light);
    
    
}
/* adress */
.adress-text {
    font-size: 16px;
    text-decoration: none;
    color: var(--color-primary-light);
   

}
.adress-copywright {
    font-size: 13px;
    color: var(--color-primary-light);
   
}

